.settings-title{
  background-color: rgb(55,206,193);
}
.settings-cont-tx{
  padding:20px 0;
  background-color: rgb(55,206,193);
}
#settings-cont-tximg{
  display:block;
  width:100px;
  height:100px;
  margin:0 auto;
  border-radius: 50%;
}
